In [1]:
import pandas as pd
import numpy as np
from catboost import Pool, CatBoostClassifier
from catboost.datasets import rotten_tomatoes
from sklearn.model_selection import KFold,

SyntaxError: trailing comma not allowed without surrounding parentheses (<ipython-input-1-3e8b0dbc5da9>, line 5)

In [33]:
learn, _ = rotten_tomatoes()
print('Feature names:\n' + ', '.join(list(learn)))

Feature names:
id, synopsis, rating_MPAA, genre, director, writer, theater_date, dvd_date, box_office, runtime, studio, dvd_date_int, theater_date_int, review, rating, fresh, critic, top_critic, publisher, date, date_int, rating_10

In [40]:
list(learn)

['id',
 'synopsis',
 'rating_MPAA',
 'genre',
 'director',
 'writer',
 'theater_date',
 'dvd_date',
 'box_office',
 'runtime',
 'studio',
 'dvd_date_int',
 'theater_date_int',
 'review',
 'rating',
 'fresh',
 'critic',
 'top_critic',
 'publisher',
 'date',
 'date_int',
 'rating_10']

In [26]:
df[0].describe()

,id,box_office,runtime,dvd_date_int,theater_date_int,rating,top_critic,date_int,rating_10
count,32712.000000,2.043000e+04,32217.000000,3.271200e+04,3.271200e+04,32712.000000,32712.000000,3.271200e+04,32712.000000
mean,1043.511158,5.385043e+07,110.068101,1.964252e+07,1.960475e+07,0.632101,0.196472,2.007906e+07,6.353295
std,585.965201,6.940129e+07,20.648224,2.905241e+06,2.901840e+06,0.211483,0.397336,5.470082e+04,2.169360
min,3.000000,3.630000e+02,52.000000,-1.000000e+00,-1.000000e+00,0.000000,0.000000,1.951102e+07,0.000000
25%,542.000000,6.100613e+06,96.000000,2.002102e+07,2.000041e+07,0.500000,0.000000,2.003100e+07,5.000000
50%,1081.000000,2.769650e+07,108.000000,2.006063e+07,2.005093e+07,0.625000,0.000000,2.007073e+07,6.000000
75%,1541.000000,7.422362e+07,119.000000,2.012021e+07,2.011071e+07,0.800000,0.000000,2.012082e+07,8.000000
max,2000.000000,3.680000e+08,358.000000,2.019020e+07,2.018102e+07,1.000000,1.000000,2.018121e+07,10.000000